.container {
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #a0c6ec;

  @media (max-width: 600px) {
    padding: 0;
  }
}

.email-banner {
  width: 100%;
  max-width: 700px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  // padding: 1.5rem;
}

mat-stepper {
  height: calc(100vh - 90px);
  overflow: auto;

  @media (max-width: 600px) {
    height: calc(100vh - 70px);
  }
}

.example-card {
  border: none;
  box-shadow: none;
  background: transparent;
}
mat-card-header {
  padding: 0;
  justify-content: center;
}
.example-card mat-card-title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

mat-card-content {
  height: calc(100vh - 260px);
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 600px) {
    height: calc(100vh - 280px);
  }
}

mat-card-footer {
  padding: 1rem;
}

form {
  padding: 1rem 0;
}

.email-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.config-form {
  width: 100%;
  display: flex;
  gap: 1rem;

  mat-form-field {
    flex: 1;
  }
}

.information {
  margin-top: 3rem;
  border: 1px solid #1976d2; /* Thick blue border */
  padding: 16px;
  border-radius: 8px;
  background-color: #f5faff;
  color: #333;
  font-size: 14px;
  margin-bottom: 20px;
}

.information ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
}

.information a {
  color: #1976d2;
  text-decoration: underline;
}

.company-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.company-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  mat-form-field {
    flex: 1;
  }
}

.button-row {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 0.5rem;

  button {
    text-transform: none;
  }
}

.file-upload {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.95rem;

  .upload-label {
    font-weight: 500;
    color: #333;
  }

  .row{
    display: flex;
    gap: 2rem;
  }
  .custom-file-input {
    background-color: #e0f2f1;
    color: #00695c;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    border: 1px dashed #00695c;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    width: fit-content;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #b2dfdb;
    }

    input[type="file"] {
      position: absolute;
      inset: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  .file-name {
    margin-top: 0.3rem;
    font-size: 0.9rem;
    color: #444;
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}


.example-card-footer {
  display: flex;
  justify-content: space-between;

  .button-fixed {
    // padding: 0.75rem 1.5rem;
    font-weight: 600;
    text-transform: none;
    border-radius: 6px;
  }
}

.loader {
  position: fixed; // Makes it overlay the screen
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;

  .dots span {
    animation: blink 1.5s infinite;
    margin: 0 1px;
  }

  .dots span:nth-child(2) {
    animation-delay: 0.2s;
  }

  .dots span:nth-child(3) {
    animation-delay: 0.4s;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

.btnDisable {
  opacity: 0.6;
  pointer-events: none;
}

.addMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
